@model SalesWebApp.Models.Seller

@{
    ViewData["Title"] = "Seller details";
}

<h2>@ViewData["Title"]</h2>

<p><b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)</p>
<p><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</p>
<p><b>@Html.DisplayNameFor(model => model.BirthDate):</b> @Html.DisplayFor(model => model.BirthDate)</p>
<p><b>@Html.DisplayNameFor(model => model.BaseSalary):</b> @Html.DisplayFor(model => model.BaseSalary)</p>
<p><b>@Html.DisplayNameFor(model => model.Department):</b> @Html.DisplayFor(model => model.Department.Name)</p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
<a asp-action="Index" class="btn">Back</a>